<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.york.cs.todolite2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.camera" />

    <!-- client -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!-- Authenticator -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- Sync Adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name="com.york.cs.todolite2.document2.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.york.cs.services.activities.LoginActivity"
            android:label="@string/loginLabel" />
        <activity
            android:name="com.york.cs.services.activities.SignUpActivity"
            android:label="@string/sing_upLabel" />
        <activity
            android:name="com.york.cs.todolite2.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.york.cs.todolite2.activities.ShareActivity"
            android:label="@string/title_activity_share" >
        </activity>
      
       
        <activity android:name="com.york.cs.todolite2.activities.ImageViewActivity" />
		 <!-- Authentication related service -->
        <service android:name="com.york.cs.services.authentication.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- Sync adapter related service -->
        <service
            android:name="com.york.cs.services.SyncAdapter.SyncAService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

        <provider
            android:name="com.york.cs.services.SyncAdapter.ContentProviderApp"
            android:authorities="com.york.cs.todolite2.document2"
            android:exported="false"
            android:syncable="true" >
        </provider>
    </application>

</manifest>